node_modules

#Hardhat files
.cache
.zksolc-libraries-cache
cache
cache-zk
artifacts
artifacts-zk
deployments
deployments-zk
era_test_node.log
anvil-zksync.log

scripts/core

secret.json
secret*.json
dev-keys.json

package-lock.json

.DS_Store
settings.json

coverage
coverage.json
